@{
    ViewData["Title"] = "Home Page";
}
<button class="btn btn-info" id="productBtn">Purchase Product</button>
<p id="message"></p>
<script src="~/js/signalr.js"></script>
<script src="~/js/Product.js"></script>